.subscribe{
  background-color: rgb(207, 44, 44);
  color: white;
  border: none;
  border-radius: 2px;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: opacity 0.2s;
}

.subscribe:hover{
  opacity: 0.7;
}

.subscribe:active{
  opacity: 0.6;
}

.join{
  border-radius: 2px;
  background-color: white;
  color: rgb(30, 152, 200);
  border-style: solid;
  border-width: 1px;
  padding: 9px 12px;
  cursor: pointer;
  border-color: rgb(30, 152, 200);
  transition: background-color 0.2s, color 0.2s;
}

.join:hover{
  background-color: rgb(30, 152, 200);
  color: white;
}

.join:active{
  opacity: 0.6;
}

.tweet{
  border-radius: 20px;
  padding: 10px 15px;
  border: none;
  color: white;
  font-weight: bold;
  background-color: rgb(22, 168, 225);
  cursor: pointer;
  transition: box-shadow 0.2s;
}

.tweet:hover{
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15); 
  /* horizontal, vertical, opacity [red green blue alpha(blur)] */
}